#logo {
    background-image: url(../images/logo.png);
    width: 35px;
    height: 40px;
    padding-right: 5px;
    font-family: 'Pacifico', cursive;
}

#header-nav-links {
    font-family: 'New Tegomin', serif;
    font-size: 1.2rem;
}