#logo {
    background-image: url(../images/logo.png);
    width: 35px;
    height: 40px;
    padding-right: 5px;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
}

#header-nav-links {
    font-family: sans-serif;
    font-size: 1rem;
}