$primaryColor : #338f95;
$secondaryColor: #ffffff;

@mixin easeOut {
    transition: all 0.5s ease-out;
}


.header {
background-color: $primaryColor;
color: #fff;
text-align: center;
font-size: 1.2rem;
position: absolute;
left: 0px;
top:0px;
width:100vw;
}


.menu {
 position: absolute;
 top: 10px; 
 right: 10px;
 z-index: 3;

}

.line{
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background-color: $secondaryColor;
 z-index: 3;
}


.news{
   height: 60px; 
   width: 60px;
   position: absolute;
   top: 15px;
   left: 10px;
}


